/* formattazione pagina */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Inter&family=Josefin+Sans:wght@300&family=Open+Sans:ital@0;1&family=Orbitron:wght@500&family=Playfair+Display:wght@500&display=swap');

*{
    margin: 0vw;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: white;
}

body{
    /* background-image: url(./assets/sfondo_rosso.jpg); */
    background-color: red;
    background-repeat: repeat-y;
    
}

/* inizio header */
body>header{
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    width: 100%;
    padding: 3px;
}

header>p{
    color: yellow;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.auto{
    margin-top: 0;
}

h1{
    margin-top: 20px;
    background-color: rgba(220, 252, 38, 0.4);
    color: yellow;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 4em;
}

.storia h2{
    position: relative;
    width: 60%;
    height: 100px;
    font-size: 40px;
    color: yellow;
    margin-left: 350px;
    margin-top: 320px;
    
}

.navbar{
    margin-left: 700px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
    height: 50px;
}

.navbar a{
    text-decoration: none;
    color: yellow;
    margin-bottom: 27px;
    padding: ;
    border: 1px solid yellow;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

nav a:hover{
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 15px;
    color: red;
    background-color: yellow;
    font-weight: bold;
    
}

.descr{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: white;
}

.descr a{
    color: yellow;
}

/* fine header */ 

.foto:hover{
    transform: scale(1.3);
    object-fit: contain;
    transition: 2.0s;
    
}

.opzioni{
    color: black;
}

form{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    margin-left: 60vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
   width: 25%;
    
    border-radius: 15px;
    float: left;
    margin-top: -800px;
    box-sizing: content-box;
}

form> h2{ 
   margin-top: -10px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;

}

.portof{
    border: 2px solid black;
    box-shadow: 3px 3px 10px;
    padding: 5px;
    width: 39%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    float: left;  
}

.provasustrada{
    border: 2px solid black;
    box-shadow: 3px 3px 10px;
    padding: 5px;
    width: 39%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin-top: -42px;
    margin-left: 500px;
}

main{
    font-size: 20px;
    padding: 25px;
    letter-spacing: 2px;
}

input{
    background-color: transparent;
    border-bottom: 2px solid yellow;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 15px;
    width: 100%;
 font-size: 20px;
    padding: 10px;
}

input:hover{
    background-color: transparent;
}

button{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    color: black;
    background-color: yellow;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
    
}

.model>button{
    width: 100%;
    height: 60px;
    border-radius: 15px;
    font-size: 18px;
    color: black;
    background-color: yellow;
    font-weight: 900;
    cursor: crosshair;
    margin-top: 40px;
    
}

button:hover{
    background-color: red;
    color: yellow;
}

.logo{
    margin-left: 20px;
    padding: 5px;
    border: 2px solid yellow;
    width: 35%;
    height: 25%;
    background-color: black;
 
    color: red;
}

.name{
    font-size: 50px;
    color: yellow;
}

.box{
    border: transparent;
    padding: 3px;
    width: 80%;
}

.audio{
    position: absolute;
    margin-top: 20px;
}

select, option{
    color: red;
    font-size: 20px;
    padding: 5px;
}

.pannel{
    padding: 10px;
    margin-top: 20px;
}

.pannel p{
    font-size: 25px;
}

.icons{
    font-size: 30px;
    letter-spacing: 30px;
    text-align: center;
    margin-top: 15px;
}

ion-icon:hover{
    color: yellow;
}

fieldset{
    font-size: 25px;
    padding: 10px;
    margin-top: 15px;
    word-spacing: 3px;
}

.modelli_ferrari{
    margin-left: 45px;
    position: relative;
    margin-top: 100px;
}

.modelli_ferrari img{
    border: 3px solid white;
    box-shadow: 3px 3px 10px;
    padding: 5px;
    width: 30%;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
}

.storia aside p{
    position: relative;
    border: 2px solid transparent;
    padding: 10px;
    width: 90%;
    font-size: 20px;
    letter-spacing: 2;
    word-spacing: 2;
    margin-left: 2vw;
    overflow: auto;
 float: left;
    margin-top: 10px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
}



.foto{
    height: 50% ;
    width: 100%;
    object-fit: cover;
}

.model{
    background-color:rgba(0, 0, 0, 0.6);
    padding: 15px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px;
    height: 500px;
    width: 25%;
    margin: 25px;
    text-align: center;
    float: left ;
    box-sizing: content-box;
}

iframe{
    border: 5px solid white;
    box-shadow: 5px 5px 10px;
    float: right;
    margin-right: 35px;
    margin-top: 20px;
    height: 27vw;
}

.percorso{
    box-shadow: 10px 10px 25px;
    text-align: left;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    padding: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 40px;
    margin-left: 25px;
}

.contatti{
    
    box-shadow: 10px 10px 25px;
    padding: 10px;
    position: absolute;
    margin-top: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.model details{
    position: relative;
    background-color: red;
    width: 100%;
}

.model details img{
    position: relative;
    width: 100%;
    height: 400px;
}





p.link{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
   
}

p.liw{
    text-align: center;
    margin-top: 15px;
    font-size: 10x;
}

.prtf{
    position: relative;
    width: 50%;
    margin-left: 15px;
}

footer{
    float: left;
    margin: 10px;
  
}

#registrati{
    text-decoration: none;
    color: yellow;
}

/* -------------------------------------------stile tabelle------------------------------------------- */

table,th,td{
    border: 2px solid red;
    text-align: center;
    background-color: yellow;
    color: red;
    font-weight: 600;
    padding: 5px;
    border-collapse: collapse;
    width: 100%;
}

/* ---------------------STILE PAGINA REGISTRAZIONE-------------------------------------- */


.registration{
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: center;
   text-align: center;
    border: 2px solid yellow;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    margin-left: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.registration input{
    width: 60%;
    margin: 15px;
    color: yellow;
 }

 .registration div::before{
    content: '*';
    color: white;
 }